[flake8]
max-line-length = 119
extend-ignore = F401, W292
exclude =
    .git,
    __pycache__,
    .tox,
    *.pyc,
    *migrations*,
    frontend,
    test-reports,
    data,
    assets,
    static,
    venv,
    terraform
